// Colors

$color-black: #000;
$color-white: #fff;
$color-background: lighten(gray, 10%);
$color-text: lighten($color-black, 20%);
$color-placeholder: lighten($color-black, 50%);

// Fonts


// Images

$background-image: url("https://images.unsplash.com/photo-1517639493569-5666a7b2f494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");