// Colors

$color-black: #000;
$color-white: #fff;
$color-background: lighten(gray, 10%);
$color-text: lighten($color-black, 20%);
$color-placeholder: lighten($color-black, 50%);

// Fonts

$main-font: Arial, Helvetica, sans-serif;

