.container {
    @include flex(
        $dir: column,
        $wrap: wrap,
        $just: center,
        $bas: 100%
    );
    background-color: $color-white;
    
}

.searchContainer {
    @include flex(
        $just: space-around
    );
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 75%;
}

#searchbar {
    align-self: center;
    width: 100%;
    text-align: left;
    padding: .2em;
    margin: 0;
    &::placeholder {
        color: $color-placeholder;
    }
}



.gallery {
    @include flex(
        $bas: 30%,
        $just: center,
        $wrap: wrap
    );
}

.gallery li {
    align-self: center;
    padding: 3em;
}


